<div id="ChooseClass">
  <h2>Pick A Class</h2>
  <ul>
    <a href="http://127.0.0.1:8080/client/#!/deckBuilder">
      <li class="Druid" ng-click="pickDruid()">Druid</li>
      <li class="Hunter" ng-click="pickHunter()">Hunter</li>
      <li class="Mage" ng-click="pickMage()">Mage</li>
      <li class="Paladin" ng-click="pickPaladin()">Paladin</li>
      <li class="Priest" ng-click="pickPriest()">Priest</li>
      <li class="Rogue" ng-click="pickRogue()">Rogue</li>
      <li class="Shaman" ng-click="pickShaman()">Shaman</li>
      <li class="Warlock" ng-click="pickWarlock()">Warlock</li>
      <li class="Warrior" ng-click="pickWarrior()">Warrior</li>
    </a>
  </ul>
</div>
