<div id="ChooseClass" class="col-md-6 col-md-offset-3">
  <h2 style="text-align: center;">Choose Your Class</h2>
  <ul class="ClassSelector">
    <a href="#!/deckBuilder">
      <li class="Druid" ng-click="pickDruid()"><img src="/assets/malfurion.png"></img></li>
      <li class="Hunter" ng-click="pickHunter()"><img src="/assets/rexxar.png"></img></li>
      <li class="Mage" ng-click="pickMage()"><img src="/assets/jaina.png"></img></li>
      <li class="Paladin" ng-click="pickPaladin()"><img src="/assets/uther.png"></img></li>
      <li class="Priest" ng-click="pickPriest()"><img src="/assets/anduin.png"></img></li>
      <li class="Rogue" ng-click="pickRogue()"><img src="/assets/valeera.png"></img></li>
      <li class="Shaman" ng-click="pickShaman()"><img src="/assets/thrall.png"></img></li>
      <li class="Warlock" ng-click="pickWarlock()"><img src="/assets/guldan.png"></img></li>
      <li class="Warrior" ng-click="pickWarrior()"><img src="/assets/garrosh.png"></img></li>
    </a>
  </ul>
</div>
