.SiteTitle {
  text-align: center;
}

.ClassSelector li {
  display: inline-block;
}

.CardSelector li {
  display: inline-block;
}

.cardProfile {
  width: 160px
}

.sidebar {
  position: fixed;
  float: left;
}

.mainside {
  float: right;
}
